/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Emilys Candy', cursive;
    margin: 0 auto;
}

.container {
    min-width: 480px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url(../images/krakow-cracow-992967_1280.png);
    background-size: cover;
    background-position: 0 -30px;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #f0f0e8;
}

.abc {
    position: absolute;
    top: 20px;
    height: 150px;
    width: 150px;
    background-image: url(../images/a.png);
    background-size: cover;
}

h1 {
    color: white;
    font-size: 6em;
    padding-top: 310px;
}

#motto {
    color: white;
    padding-top: 25px;
    font-size: 2.5em;
    margin-bottom: 260px;
}

.icon-heart {
    color: red;
    font-size: 1.5em;
}

#circle-box {
    margin-top: -30px;
    display: flex;
}

.circle {
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: black;
    border: 10px double white;
    opacity: 0.4;
    border-radius: 100%;
    margin: 40px auto 0;
    font-size: 1.5em;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.circle>p {
    margin-top: 55px;
}

.middle-circ>p {
    margin-top: 35px;
}

.left-circ:hover {
    background-image: url(../images/restaurant-449952_640.png);
    opacity: 1;
    background-size: cover;
    background-position: center;
    transform: scale(1.2);
    transition: 0.5s;
}

.middle-circ:hover {
    background-image: url(../images/ring-260892_640.png);
    opacity: 1;
    background-size: cover;
    background-position: center;
    transform: scale(1.2);
    transition: 0.5s;
}

.right-circ:hover {
    background-image: url(../images/phone-499991_640.png);
    opacity: 1;
    background-size: cover;
    background-position: center;
    transform: scale(1.2);
    transition: 0.5s;
}

#left_side {
    float: left;
    margin-top: 180px;
    height: 580px;
    width: 50%;
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: saddlebrown;
    font-size: 2.5em;
}

#about-text {
    text-align: justify;
    margin-bottom: 30px;
    line-height: normal;
    font-family: 'Arial';
    color: black;
}

.about {
    height: 100%;
    width: 90%;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    position: relative;
}

.chief {
    width: 200px;
    height: 200px;
    background-image: url(../images/cooking-890885_640.png);
    background-position: -108px -124px;
    border-radius: 100%;
    margin: 40px auto 0;
}

h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: -27px;
}

#leftclam {
    position: absolute;
    top: 270px;
    left: 20px;
    font-size: 16em;
    color: saddlebrown;
}

#rightclam {
    position: absolute;
    top: 270px;
    right: 20px;
    font-size: 16em;
    color: saddlebrown;
}

#products {
    height: 100vh;
    width: 100%;
    background-color: #f0f0e8;
}

#right_side {
    margin-top: 180px;
    float: right;
    height: 600px;
    width: 50%;
}

a {
    text-decoration: none;
}

.b {
    padding-left: 5px;
    height: 250px;
    width: 250px;
    background-color: white;
    border: 15px double #f0f0e8;
}

.b:hover {
    filter: grayscale(100%);
}

.clear {
    clear: both;
}

.left_bottom {
    margin-bottom: 20px;
    float: left;
    background-image: url(../images/coffee-2354860_640.png);
    background-size: cover;
    background-position: center;
}

.left_top {
    margin-bottom: 20px;
    float: right;
    background-image: url(../images/salmon-518032_640.png);
    background-size: cover;
    background-position: left;
}

.right_bottom {
    float: left;
    background-image: url(../images/pizza-2341377_640.png);
    background-size: cover;
    background-position: center;
}

.right_top {
    float: right;
    background-image: url(../images/cake-1996314_640.png);
    background-size: cover;
    background-position: center;
}

#menu {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../images/pizza-1209748_1280.png);
    background-size: cover;
    background-attachment: fixed;
}

#breakfast-menu {
    margin-top: 100px;
    float: left;
    width: 40%;
    height: 650px;
    background-color: #f0f0e8;
    
}

#lunch-menu {
    margin-top: 100px;
    float: right;
    width: 40%;
    height: 650px;
    background-color: #f0f0e8;
}


#ofert{
    top: 530px;
    left: 35%;
    right: 35%;
    position: absolute;
    height: 400px;
    width: 30%;
    background-image: url(../images/two-types-of-wine-1761613_640.jpg);
    filter: sepia(100%) drop-shadow(4px 4px 2px black);
    border: 2px solid grey;

}



h4 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: saddlebrown;
}

.menu-text {
    font-family: 'Arial';
    margin-bottom: 30px;
    padding: 15px;
    text-align: justify;
}

#menu-download-right {
    font-family: 'Arial';
    font-size: 1.5em;
    margin-left: 25%;
}

#menu-download-left {
    font-family: 'Arial';
     font-size: 1.5em;
    margin-left: 25%;
}


#local {
    height: 100vh;
    width: 100%;
    background-color: #f0f0e8;
}

#local-left {
    margin-top: 150px;
    float: left;
    width: 40%;
    height: 650px;
}
#local-right {
    margin-top: 150px;
    float: right;
    width: 40%;
    height: 650px;
}

h5 {
    font-size: 2em;
    text-align: center;
    color: saddlebrown;
    margin: 20px 0 10px 0;
}

#local-image-left {
    width: 100%;
    height: 310px;
    background-image: url(../images/villa-cortine-palace-949550_640.jpg);
    background-size: cover;
    opacity: 0.5;
    transition: 1s;

}
#local-image-left:hover {
    opacity: 1;
    transition: 1s;
    
}


#local-image-right {
    width: 100%;
    height: 310px;
    background-image: url(../images/affair-1238434_640.jpg);
    background-size: cover;
    opacity: 0.5;
    transition: 1s;
}

#local-image-right:hover {
    opacity: 1;
    transition: 1s;
}


.borderline {
    line-height: 20px;
    border-left: 1px solid saddlebrown;
    border-right: 1px solid saddlebrown;
}

#contact {
    height: 100vh;
    width: 100%;
    background-image: url(../images/dessert-352475_1280.png);
    background-size: cover;
    background-attachment: fixed;
}



#contact-left {
    margin-top: 150px;
    float: left;
    width: 40%;
    height: 650px;
}
#contact-right {
    margin-top: 150px;
    float: right;
    width: 40%;
    height: 650px;
}


#mapa {
        background-position: -80px -680px;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    background-image: url(../images/maps.png);
    background-size: cover;
    opacity: 0.9;
    
}


